/tox_save
/utox_save
/fuck you/
/toparun2.rb~
/topaslib.rb~
/shoes-toparun.rb~
/test.txt
/shoes-toparun.exe
/sucrose-new_0.0.inp
/sucrose-new_0.0.out
/sucrose-new_1.0.inp
/sucrose-new_1.0.out
/sucrose-new_10.0.inp
/sucrose-new_10.0.out
/sucrose-new_100.0.inp
/sucrose-new_100.0.out
/sucrose-new_11.0.inp
/sucrose-new_11.0.out
/sucrose-new_12.0.inp
/sucrose-new_12.0.out
/sucrose-new_13.0.inp
/sucrose-new_13.0.out
/sucrose-new_14.0.inp
/sucrose-new_14.0.out
/sucrose-new_15.0.inp
/sucrose-new_15.0.out
/sucrose-new_16.0.inp
/sucrose-new_16.0.out
/sucrose-new_2.0.inp
/sucrose-new_2.0.out
/sucrose-new_20.0.inp
/sucrose-new_20.0.out
/sucrose-new_24.0.inp
/sucrose-new_24.0.out
/sucrose-new_28.0.inp
/sucrose-new_28.0.out
/sucrose-new_3.0.inp
/sucrose-new_3.0.out
/sucrose-new_32.0.inp
/sucrose-new_32.0.out
/sucrose-new_36.0.inp
/sucrose-new_36.0.out
/sucrose-new_4.0.inp
/topas-tools.gemspec~
/lib/topas-tools/Metarefine.rb~
